Source: mauikit-imagetools
Section: kde
Priority: optional
Build-Depends: cmake,
               debhelper,
               extra-cmake-modules,
               libkf5coreaddons-dev,
               libkf5i18n-dev,
               libkf5kio-dev,
               mauikit-dev,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 4.2.1
Homepage: https://mauikit.org/
Vcs-Git: https://invent.kde.org/neon/neon-packaging/mauikit-imagetools.git
Vcs-Browser: https://invent.kde.org/neon/neon-packaging/mauikit-imagetools
Maintainer: Neon CI <neon@kde.org>

Package: qml-module-org-mauikit-imagetools
Architecture: any
Depends: libmauikit,
         libmauikitimagetools1,
         qml-module-org-kde-kirigami2,
         qml-module-org-kde-mauikit,
         qml-module-qt-labs-settings,
         qml-module-qtquick-controls2,
         qml-module-qtquick-shapes,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: qml-module-org-kde-mauikit-imagetools
Replaces: qml-module-org-kde-mauikit-imagetools
Description: MauiKit Image Tools Components
 MauiKit Image Tools Components.
 .
 This package contains the mauikit imagetools qml module.

Package: libmauikitimagetools1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MauiKit Image Tools Components
 MauiKit Image Tools Components.
 .
 This package contains the mauikit imagetools library.

Package: libmauikitimagetools-dev
Architecture: any
Depends: libmauikitimagetools1 (= ${binary:Version}),
         qml-module-org-mauikit-imagetools,
         ${misc:Depends},
         ${shlibs:Depends}
Description: MauiKit Image Tools Components
 MauiKit Image Tools Components.
 .
 This package contains mauikit imagetools development files.
